/* Анимация для фона */
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Анимация для формы */
@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    animation: fadeInBackground 1.5s ease-in-out;
}

header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 1000;
    animation: fadeInBackground 1.5s ease-in-out;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
}

#menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px; /* Изначально скрытое меню */
    background: linear-gradient(to right, #6a11cb, #2575fc);
    overflow-x: hidden;
    transition: right 0.3s;
    padding-top: 60px;
    z-index: 1000; /* Поверх оверлея */
}

    .sidebar ul {
        list-style-type: none; /* Убираем точки */
        padding: 0; /* Убираем отступы */
        margin: 0; /* Убираем отступы */
    }

    /* Стили для ссылок в меню */
    .sidebar a {
        display: block;
        padding: 10px 20px;
        margin: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #fff; /* Белый цвет текста */
        background-color: rgba(255, 255, 255, 0.2); /* Легкая прозрачность фона */
        border: 2px solid #fff; /* Белая граница */
        border-radius: 25px; /* Скругленные углы */
        text-align: center;
        transition: all 0.3s ease;
    }

        .sidebar a:hover {
            background-color: #fff; /* Белый фон при наведении */
            color: #6a11cb; /* Фиолетовый текст при наведении */
            border-color: #6a11cb; /* Фиолетовая граница при наведении */
        }

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 500; /* Под меню */
    transition: opacity 0.3s;
    opacity: 0;
    display: none; /* Изначально скрыто */
}

    .overlay.active {
        display: block;
        opacity: 1;
    }

.content {
    transition: margin-right 0.3s;
}

/* Обновленный стиль для контейнера регистрации и входа */
.registration-container, .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Учтите высоту header */
    padding-top: 0;
    margin-top: -50px;
}

/* Добавим фиолетовый цвет с прозрачностью для формы регистрации и входа */
.registration-card, .login-card {
    background: rgba(106, 17, 203, 0.5); /* Фиолетовый цвет с 50% прозрачностью */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    animation: slideIn 1s ease-in-out; /* Плавная анимация для формы */
}

/* Стили для полей ввода */
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(106, 17, 203, 0.5); /* Фиолетовый цвет с 50% прозрачностью */
    background: rgba(255, 255, 255, 0.5); /* Белый цвет с 50% прозрачностью */
    border-radius: 5px;
    transition: border-color 0.3s;
    color: #fff; /* Белый цвет текста */
}

    .form-group input:focus {
        border-color: rgba(106, 17, 203, 0.7); /* Фиолетовый цвет с 70% прозрачностью */
        outline: none;
        background: rgba(255, 255, 255, 0.7); /* Белый цвет с 70% прозрачностью */
    }

    /* Обновим цвет текста и цвет плейсхолдера */
    .form-group input::placeholder {
        color: rgba(255, 255, 255, 0.7); /* Белый цвет текста с 70% прозрачностью */
    }

/* Стили для лейблов */
.form-group label {
    color: #fff; /* Белый цвет текста */
}

/* Стили для заголовка */
.registration-header h2, .login-header h2 {
    color: #fff; /* Белый цвет текста */
    text-align: center; /* Выравнивание по центру */
}

/* Стили для кнопки регистрации и входа */
.registration-button, .login-button {
    display: block;
    padding: 10px 20px;
    margin: 20px auto 0 auto;
    text-decoration: none;
    font-size: 18px;
    color: #fff; /* Белый цвет текста */
    background-color: rgba(255, 255, 255, 0.2); /* Легкая прозрачность фона */
    border: 2px solid #fff; /* Белая граница */
    border-radius: 25px; /* Скругленные углы */
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    width: fit-content;
}

    .registration-button:hover, .login-button:hover {
        background-color: #fff; /* Белый фон при наведении */
        color: #6a11cb; /* Фиолетовый текст при наведении */
        border-color: #6a11cb; /* Фиолетовая граница при наведении */
    }
/* Стили для чекбокса и его метки */
.form-group-checkbox {
    display: flex;
    align-items: center;
}

    .form-group-checkbox input[type="checkbox"] {
        width: auto;
        margin-right: 10px;
    }

    .form-group-checkbox label {
        margin: 0;
        color: #fff; /* Белый цвет текста */
    }